.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.card h3 {
    flex-grow: 1;
    padding-left: 20px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

#h2-team {
    padding: 20px;
}
